<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Welcome - 8GCool Fashion Club ::</title>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/sunny/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>

</head>

<body>
<div id="container">
						<!--Top Panel -->
						<div id="main">
						<a href="index.html">

						<img src="stylesheets/images/logo_8gcool.gif" alt=" E16 Fashion Club" width="213" height="219" border="0" class="logo" title=" E16 Fashion Club"/>
						<%= render :partial => "sessions/user_bar" %>
						</a>
						<h1>Fashion is a form of ugliness so intolerable that we have to alter it every six months?
						<span>- Oscar Wilde </span>
						</h1>
						<p class="matTxt">Maecenas eget orci quis elit malesuada tempor duise nullam vitae duise fellis figero lullam hallentroupe
						morbius corbista sed amet lullam.</p>

						<!--navigation -->
										<ul class="navlink">
											<li class="active" title="home">home</li>
											<li><a href="aboutus.html" title="about us ">about&nbsp;us </a></li>
											<li><a href="#" title="the fashion blog">the fashion blog</a></li>
											<li><a href="#" title="archieve">archieve</a></li>
											<li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
											<li><a href="#" title="news">news</a></li>
											<li><a href="#" title="videos">videos</a></li>
											<li><a href="#" title="contact">contact</a></li>
										</ul>

						<!--navigation -->
						<br class="spacer" />
						</div>

						<div id="logBlock">
								<div id="topBlock">
								<!--Log in Block -->
													<div id="userLog">
													<%= render :partial => "sessions/new" %>
													</div>
									<!--Log in Block -->
													<div id="fashionBlock">
														<div class="fashion">
														<h2 class="fashionPot">fashionspot</h2>
														<p class="fashiontxt"><span>Nam libero tempore</span> cumpose soluta nobis.</p>
														</div>
														<div class="teenwindow">
														<h2 class="fashionPot">teenwindow</h2>
														<p class="fashiontxt"><span>Senetore</span> of the fellista sedos hallen.</p>
														</div>
													</div>

								</div>
								<div id="BotBlock">
								</div>

							<br class="spacer" />
						</div>
						<!--Top Panel -->
						<!--body -->
						<div id="BodyPan">
						<!--left panel -->
							<div id="leftPan">
							<h2 class="trendy">a trendy outlook</h2>
							<p class="dashed">&nbsp;</p>
							<h3>Repudiandae sint et molestiae non fiesta sedamet of the lullam hallentroupe duise normalore</h3>
							<p class="picture">&nbsp;</p>
							<p class="labrumTxt">Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga sed amet.
							Senetore of the fellis sed amet curabiror lullam hallentrouype of the fellis. Aliquam in duiseore bocestore a secote nocto mallenose.
							</p>
							<br class="spacer" />
							<p class="dashed">&nbsp;</p>
							<h3>Fiesta sedamet of the lullam a tenetore sectoreet quamus at the fashionshop</h3>
							<p class="picture1">&nbsp;</p>
							<p class="labrumTxt">Laborum et dolorum fuga sed amet. Senetore of the fellis sed amet curabiror lullam hallentrouype of the fellis.
							 Aliquam in duiseore bocestore a secote nocto mallenose. Similique sunt in culpa qui officia deserunt mollitia animi,
							 id est lobor in curabitor is always sedamet duise. A superb collection of the contemporary art.
							 </p>
							<div id="dashBlock">
							<p class="special"><a href="#" title="Special Attractions">Special Attractions</a></p>
							<p class="comments"><a href="#" title="Read&nbsp;Comments">Read&nbsp;Comments</a></p>
							</div>
							</div>
							
						<!--left panel -->


						<!--right panel -->
						<div id="rghtPan">
						<div class="magazineBlock">
						<h2 class="fashionMag">fashionmag
						<span>Book&nbsp;Your&nbsp;Copy&nbsp;Today!</span>
						</h2>
						</div>
						<div class="newsBlock">
						<p class="news">&nbsp;</p>

							<ul class="newsLink">
								<li><a href="#">Xshop inagurated in La Villa</a></li>
								<li><a href="#">The Latest Trendz</a></li>
								<li><a href="#">Fashion Designers in Duisese</a></li>
								<li><a href="#">Shop 2010</a></li>
							</ul>

						<p class="dates">&nbsp;</p>
						<p class="datingTxt">This is some information of the lullam zone corbista hallestroup in the mataching of the duise to the aqulium.
						<span><a href="#" title="More Dating News on E16">More Dating News on E16</a></span>
						</p>
						</div>
						</div>
						<!--right panel -->
						<br class="spacer" />
						</div>

						<!--body -->

						<!--footer -->
						<div id="footer">

						<ul class="footerlink">
							<li><a href="index.html" title="home">home</a></li>
							<li><a href="aboutus.html" title="about&nbsp;us">about&nbsp;us</a></li>
							<li><a href="#" title="the fashion blog">the&nbsp;fashion&nbsp;blog</a></li>
							<li><a href="#" title="archieve">archieve</a></li>
							<li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
							<li><a href="#" title="news">news</a></li>
							<li><a href="#" title="videos">videos</a></li>
							<li><a href="#" title="contact">contact</a></li>
						</ul>

						<br class="spacer" />
						<p class="copyright">2009 8GCool - All Rights Reserved.

						<span>Maintain by: <a href="http://www.scriptgeek.com" target="_blank" title="Script Geek">Script Geek</a></span>

						</p>
						</div>
						<!--footer -->
<br class="spacer" />


</div>
</body>
</html>
