<div class="smalltaskbar">
<div class="inner">
<% if logged_in? %>

<div class="avatarname">
<a href="http://github.com/troya">
<img height="20" width="20" src="https://secure.gravatar.com/avatar/1b2fc8ca0e2cccec9753b519aa789b96?s=20&d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-20.png" alt=""/>
</a>
<a class="name" href="http://github.com/troya">troya</a>
</div>
<ul class="usernav">
<li>
<a href="https://github.com">Dashboard</a>
</li>
<li>
<a href="https://github.com/inbox">Inbox</a>
<a class="unread_count" href="https://github.com/inbox">0</a>
</li>
<li>
<a href="https://github.com/account">Account Settings</a>
</li>
<li>
</li>
</ul>

<% else %>
<% end %>
</div>
</div>