<!--body -->

<!--footer -->
<div id="footer">

<ul class="footerlink">
        <%= render :partial => "share/nav" %>
</ul>

<br class="spacer" />
<p class="copyright">2009 8GCool - All Rights Reserved.

<span>Maintain by: <a href="http://www.scriptgeek.com" target="_blank" title="Script Geek">Script Geek</a></span>

</p>
</div>
<!--footer -->