<li><a href="/" title="home">home</a></li>
<li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
<li><a href="#" title="news">news</a></li>
<li><a href="#" title="videos">video</a></li>
<li><a href="#" title="archieve">movie</a></li>
<li><a href="#" title="archieve">TV show</a></li>
<li><a href="#" title="the fashion blog">fashion blog</a></li>
<li><a href="#" title="contact">contact</a></li>
