
      <!--Top Panel -->
<div id="main" style="height:156px">
  <a href="index.html">
    <img src="/stylesheets/images/logo_8g_small.gif" alt="8GCOOL Fashion Club" width="138" height="155" border="0" class="small_logo" title=" 8GCOOL Fashion Club"/>
  </a>
  <h1 style="left:220px">Fashion is a form of ugliness so intolerable that we have to alter it every six months?
    <span>- Oscar Wilde </span>
  </h1>


  <!--navigation -->
  <ul class="navlink" style="top:115px;left:-5px;width:934px;">
      <li class="active" title="home">home</li>
      <li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
      <li><a href="#" title="news">news</a></li>
      <li><a href="#" title="videos">video</a></li>
      <li><a href="#" title="archieve">movie</a></li>
      <li><a href="#" title="archieve">TV show</a></li>
      <li><a href="#" title="the fashion blog">fashion blog</a></li>
      <li><a href="#" title="contact">contact</a></li>
  </ul>

  <!--navigation -->
  <br class="spacer" />
</div>
