<% content_for :recommended do %>
Listing resources
<% end %>

<div id="leftPan">
							<h2 class="trendy">a trendy outlook</h2>
							<p class="dashed">&nbsp;</p>
							<h3>Repudiandae sint et molestiae non fiesta sedamet of the lullam hallentroupe duise normalore</h3>
							<p class="picture">&nbsp;</p>
							<p class="labrumTxt">Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga sed amet.
							Senetore of the fellis sed amet curabiror lullam hallentrouype of the fellis. Aliquam in duiseore bocestore a secote nocto mallenose.
							</p>
							<br class="spacer" />
							<p class="dashed">&nbsp;</p>
							<h3>Fiesta sedamet of the lullam a tenetore sectoreet quamus at the fashionshop</h3>
							<p class="picture1">&nbsp;</p>
							<p class="labrumTxt">Laborum et dolorum fuga sed amet. Senetore of the fellis sed amet curabiror lullam hallentrouype of the fellis.
							 Aliquam in duiseore bocestore a secote nocto mallenose. Similique sunt in culpa qui officia deserunt mollitia animi,
							 id est lobor in curabitor is always sedamet duise. A superb collection of the contemporary art.
							 </p>
							<div id="dashBlock">
							<p class="special"><a href="#" title="Special Attractions">Special Attractions</a></p>
							<p class="comments"><a href="#" title="Read&nbsp;Comments">Read&nbsp;Comments</a></p>
							</div>
							</div>

