<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>8GCOOL Fashion Club</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="common_container">
  <%= render :partial => "share/top" %>
  <div id="logBlock">
                  <div id="topBlock" style="padding-top:24px">
                  <!--Log in Block -->
                                                          <div id="userLog">
                                                          <%= yield %>
                                                          </div>
                          <!--Log in Block -->
                                                          <div id="fashionBlock">
                                                                  <div class="fashion">
                                                                  <h2 class="fashionPot">fashionspot</h2>
                                                                  <p class="fashiontxt"><span>Nam libero tempore</span> cumpose soluta nobis.</p>
                                                                  </div>
                                                                  <div class="teenwindow">
                                                                  <h2 class="fashionPot">teenwindow</h2>
                                                                  <p class="fashiontxt"><span>Senetore</span> of the fellista sedos hallen.</p>
                                                                  </div>
                                                          </div>

                  </div>
                  <div id="BotBlock">
                  </div>

          <br class="spacer" />
  </div>


  <!--body -->

<%= render :partial => "share/footer" %>
<br class="spacer" />


</div>
</body>
</html>
