<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>8GCOOL Fashion Club</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="common_container">
  <%= render :partial => "share/top" %>


  <!--body -->
   <div id="BodyPan">
  <!--left panel -->
  <%= yield  %>

  <!--left panel -->


  <!--right panel -->
  <div id="rghtPan">
    <div class="magazineBlock">
      <h2 class="fashionMag">fashionmag
      <span>Book&nbsp;Your&nbsp;Copy&nbsp;Today!</span>
      </h2>
    </div>
    <div class="newsBlock">
      <p class="news">&nbsp;</p>

        <ul class="newsLink">
          <li><a href="#">Xshop inagurated in La Villa</a></li>
          <li><a href="#">The Latest Trendz</a></li>
          <li><a href="#">Fashion Designers in Duisese</a></li>
          <li><a href="#">Shop 2010</a></li>
        </ul>

      <p class="dates">&nbsp;</p>
      <p class="datingTxt">
        This is some information of the lullam zone corbista hallestroup in the mataching of the duise to the aqulium.
        <span><a href="#" title="More Dating News on E16">More Dating News on E16</a></span>
      </p>
    </div>
  </div>
  <!--right panel -->
  <br class="spacer" />
  </div>

  <!--body end -->

  <%= render :partial => "share/footer" %>
  <br class="spacer" />


</div>
</body>
</html>
