<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>8GCOOL Fashion Club</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="common_container">
						<!--Top Panel -->
						<div id="main" style="height:156px">
						<a href="index.html">
						<img src="/stylesheets/images/logo_8g_small.gif" alt="8GCOOL Fashion Club" width="138" height="155" border="0" class="small_logo" title=" 8GCOOL Fashion Club"/>
						</a>
						<h1 style="left:220px">Fashion is a form of ugliness so intolerable that we have to alter it every six months?
						<span>- Oscar Wilde </span>
						</h1>
						

						<!--navigation -->
										<ul class="navlink" style="top:115px;left:-5px;width:934px;">
											<li class="active" title="home">home</li>
											<li><a href="aboutus.html" title="about us ">about&nbsp;us </a></li>
											<li><a href="#" title="the fashion blog">the fashion blog</a></li>
											<li><a href="#" title="archieve">archieve</a></li>
											<li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
											<li><a href="#" title="news">news</a></li>
											<li><a href="#" title="videos">videos</a></li>
											<li><a href="#" title="contact">contact</a></li>
										</ul>

						<!--navigation -->
						<br class="spacer" />
						</div>

						<div id="logBlock">
								<div id="topBlock" style="padding-top:24px">
								<!--Log in Block -->
													<div id="userLog">
													<%= yield %> 
													</div>
									<!--Log in Block -->
													<div id="fashionBlock">
														<div class="fashion">
														<h2 class="fashionPot">fashionspot</h2>
														<p class="fashiontxt"><span>Nam libero tempore</span> cumpose soluta nobis.</p>
														</div>
														<div class="teenwindow">
														<h2 class="fashionPot">teenwindow</h2>
														<p class="fashiontxt"><span>Senetore</span> of the fellista sedos hallen.</p>
														</div>
													</div>

								</div>
								<div id="BotBlock">
								</div>

							<br class="spacer" />
						</div>
						

						<!--body -->

						<!--footer -->
						<div id="footer">

						<ul class="footerlink">
							<li><a href="index.html" title="home">home</a></li>
							<li><a href="aboutus.html" title="about&nbsp;us">about&nbsp;us</a></li>
							<li><a href="#" title="the fashion blog">the&nbsp;fashion&nbsp;blog</a></li>
							<li><a href="#" title="archieve">archieve</a></li>
							<li><a href="#" title="latest trends">latest&nbsp;trends</a></li>
							<li><a href="#" title="news">news</a></li>
							<li><a href="#" title="videos">videos</a></li>
							<li><a href="#" title="contact">contact</a></li>
						</ul>

						<br class="spacer" />
						<p class="copyright">?Copyright Information Goes Here. All Rights Reserved.

						<span>Design by: <a href="http://www.hire-a-designer.com" target="_blank" title="Hire-A-Designer">Hire-A-Designer</a></span>

						</p>
						</div>
						<!--footer -->
<br class="spacer" />


</div>
</body>
</html>
